.filter-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem 0.5rem;
}

select,
input{
    padding: 0.2rem 0.5rem;
    border: 1px solid white;
    background-color: black;
    border-radius: 1rem;
    color: white;

    &:hover{
        // border-color: rgb(140, 140, 140);
        box-shadow: 0px 0px 20px 0 rgba($color: white, $alpha: 0.7);
        // box-shadow: 0px 0px 20px 0 rgb(140,140,140);
    }
}

select{
    cursor: pointer;
}

.btn{
    padding: 0.2rem 0.5rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 1rem;
    color: black;
    cursor: pointer;

    &:hover{
        background-color: rgb(140, 140, 140);
        border-color: rgb(140, 140, 140);
       
    }
}


