:host{
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 10;
    backdrop-filter: blur(0.3rem);
}

.film-description_wrapper{
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 60dvw;
    border-radius: 1rem;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 2rem 0 rgba($color: black, $alpha: 1);
    overflow: hidden;
}

img{
    height: fit-content;
}

.description_wrapper{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.genre,
.country{
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    margin-right: 0.5rem;

}
.genre{
    background-color: black;
    color: white;
}

.country{
    border: 1.5px solid black;
}

.p{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.btn{
    height: 2rem;
    border-radius: 1rem;
    border: 1.5px solid black;
    width: 100%;
    background-color: transparent;

    &:hover{
        background-color: black;
        color: white;
    }
}

.img-and-close-btn_wrapper{
    position: relative;
}

.close-btn{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: white;
    outline: auto;

    &:hover{
        background-color: white;
    }
}

@media(max-width: 980px){
    .film-description_wrapper{
        width: 70%;
    }
}

@media(max-width: 880px){
    .film-description_wrapper{
        width: 80%;
    }

    .description_wrapper{
        padding: 1.5rem;
    }
}

@media(max-width: 740px){
    .film-description_wrapper{
        width: 90%;
    }
}

@media(max-width: 660px){
    .film-description_wrapper{
        width: 100%;
    }

    .description_wrapper{
        padding: 1rem;
    }
}

@media(max-width: 660px){
    .film-description_wrapper{
        grid-template-columns: max-content;
        width: calc(1rem * 360px / 16px);
    }

    .p{
        margin-bottom: 1rem;
    }
}

@media(max-height: 890px) and (max-width: 660px){
    .film-description_wrapper{
        grid-template-columns: 1fr;
        width: calc(1rem * 360px / 16px);
        height: 100dvh;
        overflow:auto;
    }

    p{
        margin-bottom: 1rem;
    }
}