:host{
    display: grid;
    gap: 2rem;
    padding-block: 2rem;
}

.poster-and-info_wrapper{
    display: flex;
    gap: 4rem;
}

td,th{
    padding: 0.5rem 1rem 0.5rem 0;
    width: 12rem;
}

.mb2rem{
    margin-bottom: 2rem;
}

.span{
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
} 

.country{
    border: 1px solid white;
}

.genre{
    background-color: rgb(140, 140, 140);
    color: black;
    border: 1px solid rgb(140, 140, 140);
}

@media (max-width: 980px) {
    .poster-and-info_wrapper{
        gap: 2rem;
    }
}

@media(max-width: 768px){
    :host{
        gap: 1rem;
        padding-top: 1rem;
    }
}

@media(max-width: 710px){
    .poster-and-info_wrapper{
        display: grid;
        gap: 1rem;
    }
}

@media(max-width: 426px){
    :host{
        gap: 0.5rem;
        padding-top: 0.5rem;
    }
    .poster-and-info_wrapper{
        display: grid;
        gap: 1rem;
    }

}