:host{
    display: block;
    padding-inline: 4rem;
}

@media(max-width: 980px){
    :host{
        padding-inline: 3rem;
    }
}

@media(max-width: 980px){
    :host{
        padding-inline: 2rem;
    }
}

@media(max-width: 768px){
    :host{
        font-size: 14px;
    }
}

@media(max-width: 426px){
    :host{
        padding-inline: 1rem;
    }
}